easyocr==1.7.1
streamlit==1.32.1
opencv-python==4.8.1.78
numpy==1.26.4
pandas==2.2.1
pillow==10.2.0
python-dotenv==1.0.0
pytest==8.0.2
pytest-mock==3.14.0
scikit-image==0.24.0
python-levenshtein==0.23.0
openpyxl==3.1.2